<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>22FF2D57821DAB86C85FB5496642278017B4001B</string>
				<key>dateExpires</key>
				<string>2023/2/10</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>548KF86K7G.com.jack.zjui.punchcard</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>548KF86K7G</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>app.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e4f42f6d-07f4-42c2-83c5-17f3a9a63424</string>
				<key>dateExpires</key>
				<string>2023/2/10</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.jack.zjui.punchcard</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>548KF86K7G</string>
				<key>name</key>
				<string>Hao Bai</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
